main {
    height: 900px;
    background-image:
        url("https://www.humacao.gov.pr/sites/humacao.gov.pr/files/inline-images/EN-CONSTRUCCION.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}