main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://pyxis.nymag.com/v1/imgs/711/cd4/1d1be8aaca8b795c2b6ce5c935307dd263-harvard-university.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
